.grades {
    padding: 1rem;
  }
  
  .grades a {
    cursor: pointer;
  }
  
  .form-container, .grade-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .full-width {
    width: 80%;
    display: block;
  }